.overlay-container {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hud.left-top {
    position: absolute;
    padding-left: 10px;
    padding-top: 10px;
}
.hud.right-top {
    position: absolute;
    padding: 10px;
    right: 0;
}
