.minimap-container {
    position: relative;
    width: 181px;
    height: 165px;
    overflow: hidden;
    z-index: 10;
}

.minimap-container .worldmap-button {
    cursor: pointer;
    position: absolute;
    left: 4px;
    top: 4px;
    display: flex;
    flex-direction: row;
    border-image-source: url(./worldmap-button-nineslice.png);
    border-image-slice: 16;
    border-image-width: 24px;
    border-image-repeat: repeat;
    padding-right: 20px;
    align-items: center;
}

.worldmap-button .worldmap-icon {
    background-image: url(./worldmap-icon.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.worldmap-button:hover .worldmap-icon {
    background-image: url(./worldmap-icon-hover.png);
}

.worldmap-button .worldmap-text {
    padding-left: 10px;
    font-size: 24px;
    font-family: "OSRS Small", serif;
}
