.minimap-container {
    position: relative;
    width: 210px;
    height: 210px;
    overflow: hidden;
    z-index: 10;
}
.minimap-container .minimap-button-container {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.minimap-container .minimap-back-button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    border-image-source: url(./worldmap-button-nineslice.png);
    border-image-slice: 16 fill;
    border-image-width: 24px;
    border-image-repeat: repeat;
    padding-right: 20px;
    align-items: center;
}

.minimap-back-button .back-icon {
    background-image: url(./osrs-exit-button.png);
    background-size: 26px 32px;
    width: 26px;
    min-width: 26px;
    height: 32px;
    margin-right: 6px; /* make up for less wide icon */
}

.minimap-back-button:hover .back-icon {
    background-image: url(./osrs-exit-button-hover.png);
}

.minimap-back-button .back-text {
    padding-left: 10px;
    font-size: 24px;
    font-family: "OSRS Small", serif;
}

.minimap-container .worldmap-button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    border-image-source: url(./worldmap-button-nineslice.png);
    border-image-slice: 16 fill;
    border-image-width: 24px;
    border-image-repeat: repeat;
    padding-right: 20px;
    align-items: center;
}

.worldmap-button .worldmap-icon {
    background-image: url(./worldmap-icon.png);
    background-size: 32px 32px;
    width: 32px;
    min-width: 32px;
    height: 32px;
}

.worldmap-button:hover .worldmap-icon {
    background-image: url(./worldmap-icon-hover.png);
}

.worldmap-button .worldmap-text {
    padding-left: 10px;
    font-size: 24px;
    font-family: "OSRS Small", serif;
}

.minimap-container .places-button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    border-image-source: url(./worldmap-button-nineslice.png);
    border-image-slice: 16 fill;
    border-image-width: 24px;
    border-image-repeat: repeat;
    padding-right: 20px;
    align-items: center;
}

.places-button .places-icon {
    background-image: url(./teleport-button.png);
    background-size: 32px 32px;
    width: 32px;
    min-width: 32px;
    height: 32px;
}

.places-button:hover .places-icon {
    background-image: url(./teleport-button-hover.png);
}

.places-button .places-text {
    padding-left: 10px;
    font-size: 24px;
    font-family: "OSRS Small", serif;
}
